
:root{
    --primary-color: #0C0D13;
    --text-color: white;
    --box-color: #282933;
}


.rule-container{
    margin-top: 3rem;
    width: 450px;
    text-align: center;
    color: var(--text-color);
    background-color: var(--box-color);
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.rule-img{
    width: 180px;
    height: 120px;
    margin-bottom: 1rem;
}

.trophy{
    font-size: 70px;
    margin-bottom: 1rem;
}

.rule-heading{
    font-size: 24px;
    font-weight: 600;
    margin: 1.5rem 0;
}

.rule-content{
    list-style: none;
    text-align: center;
    margin-left: 5rem;
    margin-bottom: 0.5rem;
}

.rule-item{
    font-size: 18px;
    display: flex;
    align-items: center;
    line-height: 2.5rem;

}

.start-btn{
    margin-top: 1rem;
    color: black;
    background-color: gold;
    font-weight: 600;
    margin-bottom: 2rem;
    cursor: pointer;
    border: solid 2px white;
}

.start-btn:hover{
    background-color: rgb(250, 227, 96);
}

.rule-flex{
    display: flex;
    justify-content: center;
    
}